.MuiInputBase-root,
.MuiAutocomplete-endAdornment {
  color: var(--font-secondary) !important;
  font-weight: 600 !important;
}
.MuiSvgIcon-root {
  color: var(--font-secondary) !important;
  font-weight: 600 !important;
}
.MuiButtonBase-root {
  width: 20px !important;
  height: 20px !important;
  margin-right: 20px !important;
  font-weight: 600 !important;
}
